<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand m-3" href="#">Scheffer Shop</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse items" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Promoções</a>
        </li>
        <li class="nav-item dropdown">
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="mr-sm-2 m-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 m-2" type="submit">Search</button>
      </form>
      <form class="form-inline buttons-auth flex-row ml-md-auto d-none d-md-flex">
     <a [routerLink]="['/home/login']" > <button class="btn btn-outline-success my-2 my-sm-0 m-2 button-login">Login</button> </a>  
        <button class="btn btn-outline-warning my-2 my-sm-0 m-2 button-register ">Register</button>  
      </form>

    </div>
  </nav>