<div class="cards-container">
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1604397842&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Bicicleta aro 29</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 1000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/placa-de-video-sapphire-pulse-radeon-rx-6800-16gb-gddr6-oc-256-bit-11305-02-20g/06/0EO-0002-006/0EO-0002-006_zoom1.jpg?ts=1648857469&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Placa de Video Sapphire Pulse Radeon RX 6800 16GB GDDR6 OC 256-bit</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 10,000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/monitor-gamer-24-ozone-dsp24-full-hd-240hz-1ms-freesyncg-sync-ozdsp24fhd240/92/0ZE-0014-792/0ZE-0014-792_zoom1.jpg?ts=1648806878&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Monitor Gamer 24 Ozone DSP24 - Full HD - 240Hz - 1ms</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 4,000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/mousepad-gamer-mancer-dark-scroll-rgb-grande-800x300x3mm-mcr-dsr-rgbgr01/06/0Y9-0457-006/0Y9-0457-006_zoom1.jpg?ts=1648557037&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Mousepad Gamer Mancer Dark Scroll, RGB, Grande, 800x300x3mm</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 100</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1604397842&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Bicicleta aro 29</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 1000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1604397842&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Bicicleta aro 29</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 1000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-card">
        <img class="mat-card-image" src="https://static.netshoes.com.br/produtos/bicicleta-south-stark-2021-aro-29-21-marchas-freios-a-disco-suspensao-dianteira/08/ACN-0075-108/ACN-0075-108_zoom1.jpg?ts=1604397842&ims=544x" alt="">
        <mat-card-header>
            <div class="card-header-text">
                <mat-card-title>
                    <p>Bicicleta aro 29</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>R$ 1000</p>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>  
        </mat-card-content>
    </mat-card>
    
    
</div>
 